footer.footer
	.container-full
		.row
			.container
				.row.footer-flex
					.footer-item.footer-left
					.footer-item.footer-right
					.footer-item.footer-center
						p.text-center
							span
								|©  
							strong
								|Точка Роста
							br
							|ГБОУ СОШ пос. Комсомольский
						p.developer.text-center
							|Developer:  
							a(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank")
								|ProjectSoft
