article.galleryes--item
	.galleryes--item-photo
		p.galleryes--item-photo-wrapp
			|<a href="[+url+]" [+link_attributes+] title="[+alt+]">
			|	<img src="[[thumb? &input=`[+imageSoc+]` &options=`w=751,h=422,zc=C`]]" alt="[+alt+]">
			|</a>