header.head
	.container.clearfix
		div.bvi-site-buttons.container-fluid.text-right
			a.bvi-open.btn(href="/#" title="Версия для слабовидящих")
				i.icon-eye(data-title="Версия для слабовидящих")
		.logotips
			span.logotips-logotip
				|<@IF:[*id:is('[(site_start)]')*]>
				img(src="[(site_url)]assets/templates/projectsoft/images/logotip.png" alt="«Точка Роста» ГБОУ СОШ пос. Комсомольский")
				|<@ELSE>
				a(href="[(site_url)]")
					img(src="[(site_url)]assets/templates/projectsoft/images/logotip.png" alt="«Точка Роста» ГБОУ СОШ пос. Комсомольский")
				|<@ENDIF>
			.logotips-text
				p
					strong
						|ГБОУ СОШ пос. Комсомольский
						br
						|муниципального района Кинельский Самарской области
			span.logotips-project
				img(src="[(site_url)]assets/templates/projectsoft/images/project.png" alt="Образование. Национальны проекты России")
	|<@IF:[*id:is('[(site_start)]')*]>
	|[[multiTV? 
	|	&fromJson=`[(carausel)]` 
	|	&tvName=`carausel`
	|	&display=`all`
	|]]
	|<@ENDIF>
	.container-full.navigation
		.row
			.container.navigation-menu
				.navigation-menu-button
					|{{@FILE assets/templates/projectsoft/images/burger.svg}}
				.navigation-menu-wrapper.row
					nav
						|[!DocLister?
						|	&controller=`site_content_menu`
						|	&addWhereList=`c.hidemenu = 0`
						|	&sortBy=`c.menuindex`
						|	&sortDir=`ASC`
						|	&depth=`0`
						|	&parents=`0`
						|	&maxDepth=`1`
						|	&showParent=`0`
						|	&urlScheme=`full`
						|	&ownerTPL=`@CODE: <ul>[+dl.wrap+]</ul>`
						|	&rowTpl=`@CODE: <li><a href="[+url+]"[+classes+] [+link_attributes+]>[+title+]</a></li>`
						|	&rowHereTpl=`@CODE: <li><span[+classes+]>[+title+]</span></li>`
						|	&rowClass=``
						|	&firstClass=``
						|	&lastClass=``
						|	&levelClass=``
						|	&webLinkClass=``
						|	&parentClass=``
						|	&hereClass=`active`
						|	&activeClass=`active`
						|	&oddClass=``
						|	&evenClass=``
						|	&debug=`[(debug)]`
						|!]
		|<@IF:[*id:is('[(site_start)]')*]>
		|  
		|<@ELSE>
		.row.breadcrumbs.hyphenation
			.container
				|[[DLCrumbs?
				|	&showCurrent=`1`
				|	&debug=`[(debug)]`
				|]]
		|<@ENDIF>