section
	.container.main-wrapper
		.row
			.container-full
				h2.lines.text-center
					|Новости
	|[+dl.wrap+]
	.container.main-wrapper
		.row
			.container-full
				p.text-center
					a.btn(href="[(site_url)][~6~]")
						|Все новости