main.main
	header.container.main-wrapper
		.row
			.container-full.hyphenation
				h1
					|[*pagetitle*]
	|<@IF:[*content:isNotEmpty*]>
	article.container.main-wrapper
		.row
			.container-full.hyphenation.text-justify
				|[*content*]
	|<@ENDIF>
	|<@IF:[*id:is('[(site_start)]')*]>
	|[[DocLister?
	|	&parents=`6`
	|	&display=`5`
	|	&tvList=`imageSoc, news_date`
	|	&tvPrefix=``
	|	&orderBy=`news_date DESC`
	|	&sortBy=`news_date`
	|	&sortDir=`DESC`
	|	&tvSortType=`TVDATETIME`
	|	&prepare=`\ProjectSoft\PrepareDL::prepareItem`
	|	&noneTPL=`@CODE:<span></span>`
	|	&ownerTPL=`@FILE:projectsoft/tpl/home_news`
	|	&tpl=`@FILE:projectsoft/tpl/news_tpl`
	|	&showParent=`0`
	|	&urlScheme=`full`
	|	&noneWrapOuter=`0`
	|	&&debug=`[(debug)]`
	|]]
	<@ENDIF>
	|{{@FILE assets/templates/projectsoft/tpl/govlist.html}}
