main.main
	header.container.main-wrapper
		.row
			.container-full.hyphenation
				h1
					|[*pagetitle*]
	article.container.main-wrapper
		.row
			.container-full.hyphenation.text-justify
				|[*content*]
	article.container.main-wrapper
		.row
			.container-full
				.embed
					.embed-responsive.embed-responsive-16by9
						#map(data-point="[(data_point)]" data-addr="[(data_addr:nl2br)]" data-email="[(data_email)]" data-phone="[(data_phone:nl2br)]" data-key="[(data_apikey)]" data-name="[(site_name)]")
				|{{@FILE assets/templates/projectsoft/tpl/sendbot.html}}
	|{{@FILE assets/templates/projectsoft/tpl/govlist.html}}