main.main
	header.container.main-wrapper
		.row
			.container-full.hyphenation
				h1
					|[*pagetitle*]
	article.container.main-wrapper
		.row
			.container-full.hyphenation.text-justify
				p.article-time
					time.icon-calendar(datetime="[*news_date*]")
						|[[aDate? &date=`[*news_date*]`]] года
				|[*content*]
				p.article-autor
					strong
						|[*news_person*]
				|[[multiTV?
				|	&tvName=`photogallery`
				|	&docid=`[*id*]`
				|	&display=`all`
				|	&emptyOutput=`1`
				|]]
	|{{@FILE assets/templates/projectsoft/tpl/govlist.html}}