article.container.main-wrapper
	.row.news-item
		.container-full
			header
				h3.news-item-title
					|<a class="hyphenation" href="[+url+]" [+link_attributes+]>
					|	[+title+]
					|</a>
			time(datetime="[+news_date+]")
				|[+out_date+]
			.news-item-description
				p.news-item-photo
					|<a href="[+url+]" [+link_attributes+]>
					|	<img src="[[thumb? &input=`[+imageSoc+]` &options=`w=751,h=422,zc=C`]]" alt="[+alt+]">
					|</a>
				p.text
					span.text-wrapper.hyphenation
						|[+introtext:nl2br+]
				|<a class="btn" href="[+url+]" [+link_attributes+]>
				|	Подробнее
				|</a>