test.*
*.zip
*.rar
*.psd
/.htaccess
/.*
/*.ini
/node_modules
/bower_components


# /site/android-chrome*
# /site/apple-touch*
# /site/favicon*
# /site/browserconf*
# /site*
# /site/safari*
# /site/mstile*

/test/**/*
/tests/**/*
/site/composer.lock
/site/food/*
/site/assets/.thumbs/**/*
/assets/thumbs/**/*
/site/assets/backup/**/*
/site/assets/cache/**/*
/site/assets/docs/**/*
/site/assets/export/**/*
/site/assets/files/**/*
/site/assets/images/**/*
/site/assets/import/**/*
/site/assets/js/**/*
/site/assets/lib/**/*
/site/assets/site/**/*
/site/assets/index.html
/site/manager/**/*
/site/vendor/**/*
/site/index.php
/site/zip.php
/site/*.txt
/*.sublime-workspace
/package-lock.json
/composer.lock
/comps/**/*
comps/**/*

/site/assets/media/*

/site/assets/modules/*.html
/site/assets/modules/*.php
/site/assets/modules/docmanager/**/*
/site/assets/modules/store/**/*
/site/assets/modules/editdocs/**/*
/site/assets/modules/clientsettings/core/**/*
/site/assets/modules/clientsettings/**/*.sample

/site/assets/plugins/*.html
/site/assets/plugins/*.php
/site/assets/plugins/codemirror/*
/site/assets/plugins/elementsintree/*
/site/assets/plugins/extrascheck/*
/site/assets/plugins/filesource/*
/site/assets/plugins/forgotmanagerlogin/*
/site/assets/plugins/managermanager/*
/site/assets/plugins/qm/*
/site/assets/plugins/tinymce4/*
/site/assets/plugins/transalias/*
/site/assets/plugins/updater/*
/site/assets/plugins/filemanageropen/*

/site/assets/plugins/pagebuilder/*.php
/site/assets/plugins/pagebuilder/images/*
/site/assets/plugins/pagebuilder/js/*
/site/assets/plugins/pagebuilder/lang/*
/site/assets/plugins/pagebuilder/styles/*
/site/assets/plugins/pagebuilder/tpl/*
/site/assets/plugins/pagebuilder/config/*.sample
/site/assets/plugins/evoSearch/*

/site/assets/snippets/*.html
/site/assets/snippets/*.php
/site/assets/snippets/DocLister/*

/site/assets/snippets/FormLister/*.php
/site/assets/snippets/FormLister/config
/site/assets/snippets/FormLister/docs
/site/assets/snippets/FormLister/lib
/site/assets/snippets/FormLister/core/lang/**/*.php
/site/assets/snippets/FormLister/core/*.php
/site/assets/snippets/FormLister/core/controller/*.php

/site/assets/snippets/GetGlobalCookie/*
/site/assets/snippets/breadcrumbs/*
/site/assets/snippets/docinfo/*
/site/assets/snippets/if/*
/site/assets/snippets/phpthumb/*
/site/assets/snippets/summary/*
/site/assets/snippets/evoSearch/*

/site/assets/tvs/multitv/*.php
/site/assets/tvs/multitv/buttons/*
/site/assets/tvs/multitv/css/*
/site/assets/tvs/multitv/dittoExtender/*
/site/assets/tvs/multitv/docs/*
/site/assets/tvs/multitv/includes/*
/site/assets/tvs/multitv/js/*
/site/assets/tvs/multitv/languages/*
/site/assets/tvs/multitv/moduleconfigs/*
/site/assets/tvs/multitv/phx-modifier/*
/site/assets/tvs/multitv/processors/*
/site/assets/tvs/multitv/settings/*
/site/assets/tvs/multitv/templates/*
/site/assets/tvs/multitv/configs/*.php
/site/assets/tvs/multitv/configs/*.simple
/site/assets/tvs/multitv/configs/*.json

/site/assets/tvs/pagebuilder/*

/site/assets/comon/js/Hyphenopoly/**/*

!.editorconfig
!.gitignore
!site/favicon.ico
!site/assets/tvs/multitv/configs/carausel.config.inc.php

!site/assets/tvs/multitv/configs/univers.config.inc.php
!site/assets/tvs/multitv/configs/photogallery.config.inc.php
!site/assets/tvs/multitv/configs/govlist.config.inc.php
!site/assets/tvs/multitv/configs/siteslink.config.inc.php
!site/assets/tvs/multitv/configs/sitelist.config.inc.php
!site/assets/tvs/multitv/configs/siteschool.config.inc.php
!site/assets/tvs/multitv/configs/files.config.inc.php
!site/assets/tvs/multitv/configs/share.config.inc.php
!site/assets/tvs/multitv/configs/carausel_growing_point.config.inc.php
!site/assets/tvs/multitv/configs/carausel_9may.config.inc.php
!site/assets/tvs/multitv/configs/distfiles.config.inc.php
!site/assets/tvs/multitv/configs/youtube_list.config.inc.php
!site/assets/tvs/multitv/configs/side_bar.config.inc.php
!site/assets/snippets/phpthumb/snippet.thumb.php
!site/assets/snippets/FormLister/core/controller/SendBot.php
!site/assets/snippets/FormLister/core/lang/**/sendbot.inc.php