html,
body {
	margin: 0;
	min-height: 100vh;
}
body {
	font-family: 'ArialSite', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: @color1;
	background-color: @bgColor;
	display: flex;
	flex-direction: column;
	footer,
	header {
		flex: 0;
	}
	main {
		flex: 1 0 auto;
	}
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
a {
	color: @color2;
	&:hover {
		color: @color1;
	}
	*,
	&:focus,
	&:focus-visible {
		outline: none;
	}
}
strong,
b {
	font-weight: 700;
}
p {
	margin-top: 0;
	margin-bottom: 1em;
}
img {
	max-width: 100%;
}
