.btn {
	&:focus {
		color: @white;
		background-color: @red;
	}
	&:hover {
		&,
		&:focus {
			color: @red;
			background-color: @white;
		}
	}
	&,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		border-radius: unset;
		box-shadow: unset;
		outline: 0 !important;
		outline-offset: 0 !important;
	}
	background-color: @red;
	color: @white;
	transition: all .3s ease;
	border: 1px solid @red;
}