.main {
	background-color: @mainBgColor;
	//display: flex;
	&-wrapper {
		padding-top: @padding;
		padding-bottom: @padding;
		background-color: @bgColor;
		//flex: 1;
		margin-left: auto;
		margin-right: auto;
		margin-top:  @padding;
		margin-bottom: @padding;
	}
}