
<footer class="footer">
	<div class="container-full">
		<div class="row">
			<div class="container">
				<div class="row footer-flex">
					<div class="footer-item footer-left"></div>
					<div class="footer-item footer-right"></div>
					<div class="footer-item footer-center">
						<p class="text-center"><strong>Точка Роста</strong> ©  <span>2020 - [!$_SERVER['REQUEST_TIME']:dateFormat('Y')!]</span><br/>ГБОУ СОШ пос. Комсомольский</p>
						<p class="cookies-link"><a href="[(site_url)]">Правила пользования файлов cookie</a></p>
						<p class="rss-link"><a class="icon-rss" href="[(site_url)]" target="_blank"></a></p>
						<p class="developer text-center"><small>Developer:  <a href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank">ProjectSoft © 2000 - [!$_SERVER['REQUEST_TIME']:dateFormat('Y')!]</a></small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="loadingbox"></div>