
<header class="head">
	<div class="container clearfix">
		<div class="bvi-site-buttons container-fluid text-right"><a class="bvi-open" href="/#" title="Версия для слабовидящих"><i class="icon-eye" data-title="Версия для слабовидящих"></i></a></div>
		<div class="logotips"><span class="logotips-logotip"><@IF:[*id:is('[(site_start)]')*]><img src="[(site_url)]assets/templates/projectsoft/images/logotip.png" alt="«Точка Роста» ГБОУ СОШ пос. Комсомольский"/><@ELSE><a href="[(site_url)]"><img src="[(site_url)]assets/templates/projectsoft/images/logotip.png" alt="«Точка Роста» ГБОУ СОШ пос. Комсомольский"/></a><@ENDIF></span>
			<div class="logotips-text">
				<p><strong>ГБОУ СОШ пос. Комсомольский<br/>муниципального района Кинельский Самарской области</strong></p>
			</div><span class="logotips-project"><img src="[(site_url)]assets/templates/projectsoft/images/project.png" alt="Образование. Национальны проекты России"/></span>
		</div>
	</div><@IF:[*id:is('[(site_start)]')*]>
	[[multiTV? 
		&fromJson=`[(carausel)]` 
		&tvName=`carausel`
		&display=`all`
	]]
	<@ENDIF>
	<div class="container-full navigation">
		<div class="row">
			<div class="container navigation-menu">
				<div class="navigation-menu-button">{{@FILE assets/templates/projectsoft/images/burger.svg}}</div>
				<div class="navigation-menu-wrapper row">
					<nav>
						[!DocLister?
							&controller=`site_content_menu`
							&addWhereList=`c.hidemenu = 0`
							&sortBy=`c.menuindex`
							&sortDir=`ASC`
							&depth=`0`
							&parents=`0`
							&maxDepth=`1`
							&showParent=`0`
							&urlScheme=`full`
							&ownerTPL=`@CODE: <ul>[+dl.wrap+]</ul>`
							&rowTpl=`@CODE: <li><a href="[+url+]"[+classes+] [+link_attributes+]>[+title+]</a></li>`
							&rowHereTpl=`@CODE: <li><span[+classes+]>[+title+]</span></li>`
							&rowClass=``
							&firstClass=``
							&lastClass=``
							&levelClass=``
							&webLinkClass=``
							&parentClass=``
							&hereClass=`active`
							&activeClass=`active`
							&oddClass=``
							&evenClass=``
							&debug=`[(debug)]`
						!]
					</nav>
				</div>
			</div>
		</div><@IF:[*id:is('[(site_start)]')*]>
		 
		<@ELSE>
		<div class="row breadcrumbs hyphenation">
			<div class="container">
				[[DLCrumbs?
					&showCurrent=`1`
					&debug=`[(debug)]`
				]]
			</div>
		</div><@ENDIF>
	</div>
</header>