
<main class="main">
	<header class="container main-wrapper">
		<div class="row">
			<div class="container-full hyphenation">
				<h1>[*pagetitle*]</h1>
			</div>
		</div>
	</header>
	<article class="container main-wrapper">
		<div class="row">
			<div class="container-full hyphenation text-justify">[*content*]</div>
		</div>
	</article>
	<article class="container main-wrapper">
		<div class="row">
			<div class="container-full">
				<div class="embed">
					<div class="embed-responsive embed-responsive-16by9">
						<div id="map" data-point="[(data_point)]" data-addr="[(data_addr:nl2br)]" data-email="[(data_email)]" data-phone="[(data_phone:nl2br)]" data-key="[(data_apikey)]" data-name="[(site_name)]"></div>
					</div>
				</div>{{@FILE assets/templates/projectsoft/tpl/sendbot.html}}
			</div>
		</div>
	</article>{{@FILE assets/templates/projectsoft/tpl/govlist.html}}
</main>