
<main class="main">
	<header class="container main-wrapper">
		<div class="row">
			<div class="container-full hyphenation">
				<h1>[*pagetitle*]</h1>
			</div>
		</div>
	</header>
	<article class="container main-wrapper">
		<div class="row">
			<div class="container-full hyphenation text-justify">
				<p class="article-time">
					<time class="icon-calendar" datetime="[*news_date*]">[[aDate? &date=`[*news_date*]`]] года</time>
				</p>[*content*]
				<@IF:[*EvoVideo:isNotEmpty*]>
				<div class="evovideo" style="margin-bottom: 1em;">[[GetEvoVideo? &url=`[*EvoVideo*]`]]</div><@ENDIF>
				[[multiTV?
					&tvName=`photogallery`
					&docid=`[*id*]`
					&display=`all`
					&emptyOutput=`1`
				]]
				<p class="article-autor"><strong>[*news_person*]</strong></p>
			</div>
		</div>
	</article>{{@FILE assets/templates/projectsoft/tpl/govlist.html}}
</main>