
<article class="container main-wrapper text-justify">
	<div class="row">
		<div class="container-full news-item">
			<header>
				<h3 class="news-item-title">
					<a class="hyphenation" href="[+url+]" [+link_attributes+]>
						[+title+]
					</a>
				</h3>
			</header>
			<time class="icon-calendar" datetime="[+news_date+]">[+out_date+]</time>
			<div class="news-item-description">
				<p class="news-item-photo">
					<a href="[+url+]" [+link_attributes+]>
						<img src="[[thumb? &input=`[+imageSoc+]` &options=`w=751,h=422,zc=C`]]" alt="[+alt+]">
					</a>
				</p>
				<p class="news-item-text"><span class="text-wrapper hyphenation">[+introtext:nl2br+]</span><a class="btn" href="[+url+]" [+link_attributes+]>
						Подробнее
					</a>
				</p>
			</div>
		</div>
	</div>
</article>