
<footer class="footer">
	<div class="container-full">
		<div class="row">
			<div class="container">
				<div class="row footer-flex">
					<div class="footer-item footer-left"></div>
					<div class="footer-item footer-right"></div>
					<div class="footer-item footer-center">
						<p class="text-center"><span>©  </span><strong>Точка Роста</strong><br/>ГБОУ СОШ пос. Комсомольский</p>
						<p class="developer text-center">Developer:  <a href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank">ProjectSoft</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>