
<header class="head">
	<div class="container clearfix">
		<div class="logotips"><span class="logotips-logotip"><a href="[(site_url)]"><img src="[(site_url)]assets/templates/projectsoft/images/logotip.png" alt="Точка Роста ГБОУ СОШ пос. Комсомольский"/></a></span>
			<div class="logotips-text">
				<p class="text-center"><strong>ГБОУ СОШ пос. Комсомольский<br/>муниципального района Кинельский Самарской области</strong></p>
			</div><span class="logotips-project"><img src="[(site_url)]assets/templates/projectsoft/images/project.png" alt="Образование. Национальны проекты России"/></span>
		</div>
	</div>
	<div class="container-full navigation">
		<div class="row">
			<div class="container navigation-menu">
				<div class="navigation-menu-button">{{@FILE assets/templates/projectsoft/images/burger.svg}}</div>
				<div class="navigation-menu-wrapper">
					<nav>
						<ul>
							<li><a href="[(site_url)]">Главная</a></li>
							<li><span>Новости</span></li>
							<li><a href="[(site_url)]">Документы</a></li>
							<li><a href="[(site_url)]">Фотогалерея</a></li>
							<li><a href="[(site_url)]">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>