
<article class="container main-wrapper">
	<div class="row news-item">
		<div class="container-full">
			<header>
				<h3 class="news-item-title">
					<a class="hyphenation" href="[+url+]" [+link_attributes+]>
						[+title+]
					</a>
				</h3>
			</header>
			<time datetime="[+news_date+]">[+out_date+]</time>
			<div class="news-item-description">
				<p class="news-item-photo">
					<a href="[+url+]" [+link_attributes+]>
						<img src="[[thumb? &input=`[+imageSoc+]` &options=`w=751,h=422,zc=C`]]" alt="[+alt+]">
					</a>
				</p>
				<p class="text"><span class="text-wrapper hyphenation">[+introtext:nl2br+]</span></p><a class="btn" href="[+url+]" [+link_attributes+]>
					Подробнее
				</a>
			</div>
		</div>
	</div>
</article>